body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

.card {
	max-width: 435px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-radius: 20px;
	overflow: hidden;
}

.card__product {
	position: relative;
	background: linear-gradient(0deg, #17470F, #17470F), radial-gradient(64.01% 80.49% at 50% 19.51%, #275F77 0%, #269DDF 100%);
	background-blend-mode: color, normal;
}

.card__favorite {
	position: absolute;
	top: 9px;
	right: 19px;
	width: 62px;
	height: 62px;
	background: rgba(33, 33, 33, 0.08);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__favorite img {
	width: 38px;
	height: 38px;
}

.card__img {
	width: 100%;
	height: 100%;
}

.card__img img {
	width: 100%;
	height: 100%;

}

.card__content {
	display: flex;
	flex-direction: column;
	padding: 32px 18px;
}

.card__price {
	display: flex;
	align-items: center;
	font-size: 48px;
	font-weight: 600;

}

.card__price-dollar {
	font-size: 32px;
	font-weight: 400;
	margin-right: 8px;
}

.card__price-cent {
	font-size: 28px;
	font-weight: 400;
	align-self: flex-start;
	margin-left: 8px;
}

.card__name {
	margin-top: 8px;
	color: #414141;
	font-size: 34px;
}

.card__text {
	font-size: 18px;
	font-weight: 500;
	color: #414141;
	margin-top: 8px;
}

.card__button {
	width: 100%;
	padding: 25px 16px;
	background-color: #3483FA;
	border-radius: 4px;
	font-size: 34px;
	font-weight: 700;
	color: #fff;
	margin-top: 16px;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
	transition: .3s;
}

.card__button:hover {
	transform: translateY(4px);
}

